﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFIle="FormsAndAttachments.aspx.cs" Inherits="HRMS_V3.FormsAndAttachments" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
     <h1 style="font-family: calibri; font-size: large; background-color: #CCCCFF; color: #000066;">Forms and Attachments</h1>
<p style="margin-left: 360px; font-family: calibri; font-size: xx-large; color: #00FFFF;">
    &nbsp;</p>
<p style="margin-left: 360px; font-family: calibri; font-size: xx-large; color: #00FFFF;">
    &nbsp;</p>
<p style="margin-left: 560px; font-family: calibri; font-size: xx-large; color: #00FFFF; width: 228px;">
    <body style="height: 34px">
        For Development</p>
</body>
</html>
